.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width: 150px;
}

.middle-section {
  background-color: lightpink;
  flex: 1;
  max-width: 600px;
  margin-right: 40px;
  margin-left: 70px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}
