.sidebar {
  position: fixed;
  left: 0;
  background-color: white;
  height: 100%;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
  font-family: Arial;
  font-size: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
} 

.sidebar-item:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-icon {
  height: 24px;
  padding: 5px;
}
