.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 16px;
  row-gap: 30px;
  margin-left: 75px;
  padding-left: 20px;
  padding-top: 20px;
  margin-top: 56px;
  padding-right: 20px;
}

.thumbnail-container {
  position: relative;
}

.thumbnail {
  width: 100%;
}

.duration {
  position: absolute;
  bottom: 11px;
  right: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
  font-weight: 500;
  font-family: Roboto;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.channel-picture-container {
  vertical-align: top;
  margin-top: 10px;
}

.channel-picture {
  width: 40px;
  border-radius: 30px;
}

.video-title {
  width: 215px;
  font-weight: 500;
  font-size: 14px;
}

.author, .stats {
  color: rgb(106, 106, 106);
  font-size: 12px;
  margin: 3px;
}

